# ðŸš¢ Titanic Veri Seti Analizi Ã–devi

Bu Ã¶devde Titanic veri seti Ã¼zerinde pandas kÃ¼tÃ¼phanesi kullanarak veri analizi yapacaksÄ±nÄ±z. Sorular kolay seviyeden baÅŸlayarak zorlaÅŸmaktadÄ±r.

## ðŸ“‹ Ã–dev KurallarÄ±:
- Her soruyu ayrÄ± bir hÃ¼crede Ã§Ã¶zÃ¼n
- KodlarÄ±nÄ±zÄ± aÃ§Ä±klayÄ±cÄ± yorumlarla destekleyin
- SonuÃ§larÄ± yorumlayÄ±n
- Grafik Ã§izilebilecek yerlerde gÃ¶rselleÅŸtirme yapÄ±n

## ðŸ“Š Veri Seti HakkÄ±nda:
Titanic veri seti, 1912'de batan Titanic gemisindeki yolcular hakkÄ±nda bilgi iÃ§erir.

**SÃ¼tun AÃ§Ä±klamalarÄ±:**
- `survived`: Hayatta kalma durumu (0 = HayÄ±r, 1 = Evet)
- `pclass`: Yolcu sÄ±nÄ±fÄ± (1 = 1. sÄ±nÄ±f, 2 = 2. sÄ±nÄ±f, 3 = 3. sÄ±nÄ±f)
- `sex`: Cinsiyet
- `age`: YaÅŸ
- `sibsp`: Gemide bulunan kardeÅŸ/eÅŸ sayÄ±sÄ±
- `parch`: Gemide bulunan ebeveyn/Ã§ocuk sayÄ±sÄ±
- `ticket`: Bilet numarasÄ±
- `fare`: Bilet Ã¼creti
- `cabin`: Kabin numarasÄ±
- `embarked`: BindiÄŸi liman (C = Cherbourg, Q = Queenstown, S = Southampton)

---
# âœ… TEMEL SEVÄ°YE SORULAR (KOLAY)
---

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Soru 1: Veri setinde kaÃ§ satÄ±r ve kaÃ§ sÃ¼tun olduÄŸunu bulun.

In [ ]:
df.shape

(891, 12)

### Soru 2: TÃ¼m sÃ¼tun isimlerini yazdÄ±rÄ±n.

In [ ]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

### Soru 3: YaÅŸ ortalamasÄ±nÄ± ve medyanÄ±nÄ± hesaplayÄ±n.

In [ ]:
# YaÅŸ ortalamasÄ±
yas_ortalama = df["Age"].mean()

# YaÅŸ medyanÄ±
yas_medyan = df["Age"].median()

# SonuÃ§larÄ± yazdÄ±r
print("YaÅŸ OrtalamasÄ±:", yas_ortalama)
print("YaÅŸ MedyanÄ±:", yas_medyan)

YaÅŸ OrtalamasÄ±: 29.69911764705882
YaÅŸ MedyanÄ±: 28.0

### Soru 4: Cinsiyet deÄŸiÅŸkenindeki eÅŸsiz deÄŸerleri yazdÄ±rÄ±n.

In [ ]:
df["Sex"].unique()

array(['male', 'female'], dtype=object)

### Soru 5: `pclass` deÄŸiÅŸkenindeki deÄŸerlerin yÃ¼zdesel daÄŸÄ±lÄ±mÄ±nÄ± yazdÄ±rÄ±n.

In [ ]:
df["Pclass"].value_counts(normalize=True)

Pclass
3    0.551066
1    0.242424
2    0.206510
Name: proportion, dtype: float64

### Soru 6: YaÅŸÄ± 30'dan bÃ¼yÃ¼k kadÄ±n yolcularÄ± listeleyin.

In [ ]:
df[df["Age"]>30].head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

### Soru 7: YaÅŸÄ± 18'den kÃ¼Ã§Ã¼k olup 1. sÄ±nÄ±fta yolculuk eden yolcularÄ± listeleyin.

In [ ]:
df[(df["Age"]<18) & (df["Pclass"]==1)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
307,308,1,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",female,17.00,1,0,PC 17758,108.9000,C65,C
329,330,1,1,"Hippach, Miss. Jean Gertrude",female,16.00,0,1,111361,57.9792,B18,C
435,436,1,1,"Carter, Miss. Lucile Polk",female,14.00,1,2,113760,120.0000,B96 B98,S
445,446,1,1,"Dodge, Master. Washington",male,4.00,0,2,33638,81.8583,A34,S
504,505,1,1,"Maioni, Miss. Roberta",female,16.00,0,0,110152,86.5000,B79,S
550,551,1,1,"Thayer, Mr. John Borland Jr",male,17.00,0,2,17421,110.8833,C70,C
689,690,1,1,"Madill, Miss. Georgette Alexandra",female,15.00,0,1,24160,211.3375,B5,S
781,782,1,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",female,17.00,1,0,17474,57.0000,B20,S
802,803,1,1,"Carter, Master. William Thornton II",male,11.00,1,2,113760,120.0000,B96 B98,S
853,854,1,1,"Lines, Miss. Mary Conover",female,16.00,0,1,PC 17592,39.4000,D28,S

### Soru 8: Ä°lk 10 gÃ¶zlemden son 3'Ã¼nÃ¼ gÃ¶sterin.

In [ ]:
df.head(10).tail(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

### Soru 9: Bilet fiyatÄ± (fare) 100'den bÃ¼yÃ¼k olan kaÃ§ kiÅŸi vardÄ±r?

In [ ]:
df[df["Fare"]>100].value_counts().head()

PassengerId  Survived  Pclass  Name                            Sex     Age   SibSp  Parch  Ticket    Fare      Cabin        Embarked
28           0         1       Fortune, Mr. Charles Alexander  male    19.0  3      2      19950     263.0000  C23 C25 C27  S           1
89           1         1       Fortune, Miss. Mabel Helen      female  23.0  3      2      19950     263.0000  C23 C25 C27  S           1
119          0         1       Baxter, Mr. Quigg Edmond        male    24.0  0      1      PC 17558  247.5208  B58 B60      C           1
196          1         1       Lurette, Miss. Elise            female  58.0  0      0      PC 17569  146.5208  B80          C           1
216          1         1       Newell, Miss. Madeleine         female  31.0  1      0      35273     113.2750  D36          C           1
Name: count, dtype: int64

### Soru 10: `sex`, `age` ve `fare` sÃ¼tunlarÄ±ndan oluÅŸan yeni bir DataFrame oluÅŸturun.

In [ ]:
yeni_df=[["sex","age","fare"]]
print(yeni_df)

[['sex', 'age', 'fare']]

---
# âš™ï¸ ORTA SEVÄ°YE SORULAR
---

### Soru 1: Cinsiyete gÃ¶re yaÅŸ ortalamasÄ±nÄ± bulun.

In [ ]:
df.groupby("Sex")["Age"].mean()

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

### Soru 2: SÄ±nÄ±fa gÃ¶re hayatta kalan kiÅŸi sayÄ±sÄ±nÄ± bulun.

In [ ]:
df.groupby("Pclass")["Survived"].value_counts()

Pclass  Survived
1       1           136
        0            80
2       0            97
        1            87
3       0           372
        1           119
Name: count, dtype: int64

### Soru 3: Hem cinsiyet hem sÄ±nÄ±fa gÃ¶re hayatta kalma oranlarÄ±nÄ± hesaplayÄ±n.

In [ ]:
df.groupby(["Sex","Pclass"])["Survived"].mean()

Sex     Pclass
female  1         0.968085
        2         0.921053
        3         0.500000
male    1         0.368852
        2         0.157407
        3         0.135447
Name: Survived, dtype: float64

### Soru 4: Embarked deÄŸiÅŸkenine gÃ¶re ortalama yaÅŸ ve ortalama Ã¼cret nedir?

In [ ]:
df.groupby("Embarked")[["Age","Fare"]].mean()

                Age       Fare
Embarked
C         30.814769  59.954144
Q         28.089286  13.276030
S         29.445397  27.079812

### Soru 5: Pclass gruplarÄ±na gÃ¶re yaÅŸÄ±n standart sapmasÄ±nÄ± bulun.

In [ ]:
df.groupby("Pclass")["Age"].std()

Pclass
1    14.802856
2    14.001077
3    12.495398
Name: Age, dtype: float64

### Soru 6: Her `Embarked` limanÄ±ndan kaÃ§ yolcu olduÄŸunu ve bunlarÄ±n yÃ¼zdelik daÄŸÄ±lÄ±mÄ±nÄ± yazdÄ±rÄ±n.

In [ ]:
embarked_counts=df['Embarked'].value_counts(dropna=False)
embarked_per=df['Embarked'].value_counts(normalize=True,dropna=False)*100

In [ ]:
sonuc= pd.DataFrame({
    'Yolcu SayÄ±sÄ±': embarked_counts,
    'YÃ¼zde (%)': embarked_per.round(2)
})
print(sonuc)

          Yolcu SayÄ±sÄ±  YÃ¼zde (%)
Embarked
S                  644      72.28
C                  168      18.86
Q                   77       8.64
NaN                  2       0.22

### Soru 7: YaÅŸÄ± 60'tan bÃ¼yÃ¼k olanlarÄ±n hayatta kalma oranÄ±nÄ± bulun.

In [ ]:
df.groupby(df["Age"]>60)["Survived"].mean()

Age
False    0.387802
True     0.227273
Name: Survived, dtype: float64

In [ ]:
# YaÅŸÄ± 60'tan bÃ¼yÃ¼k olanlarÄ± filtrele
older_than_60 = df[df['Age'] > 60]

# Hayatta kalanlarÄ± (survived == 1) say
survived_count = older_than_60['Survived'].sum()

# Toplam 60 yaÅŸ Ã¼stÃ¼ yolcu sayÄ±sÄ±
total_older = older_than_60.shape[0]

# Hayatta kalma oranÄ±
if total_older > 0:
    survival_rate = survived_count / total_older
    print(f"60 yaÅŸ Ã¼stÃ¼ yolcularÄ±n hayatta kalma oranÄ±: {survival_rate:.2%}")
else:
    print("Veride 60 yaÅŸ Ã¼stÃ¼ yolcu yok.")

60 yaÅŸ Ã¼stÃ¼ yolcularÄ±n hayatta kalma oranÄ±: 22.73%

### Soru 8: `Sex`, `Pclass`, `Survived` iÃ§in `groupby()` + `agg()` ile ortalama yaÅŸ ve Ã¼cret hesaplayÄ±n.

In [ ]:
df.groupby(["Pclass","Sex","Survived"]).agg({
    "Age":"mean",
     "Fare":"mean"
})

                              Age        Fare
Pclass Sex    Survived
1      female 0         25.666667  110.604167
              1         34.939024  105.978159
       male   0         44.581967   62.894910
              1         36.248000   74.637320
2      female 0         36.000000   18.250000
              1         28.080882   22.288989
       male   0         33.369048   19.488965
              1         16.022000   21.095100
3      female 0         23.818182   19.773093
              1         19.329787   12.464526
       male   0         27.255814   12.204469
              1         22.274211   15.579696

### Soru 9: Age deÄŸiÅŸkenini artan dÃ¼zende sÄ±ralayÄ±n ve ilk 10 kiÅŸiyi yazdÄ±rÄ±n.

In [ ]:
df.sort_values(by="Age",ascending=True).head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
386,387,0,3,"Goodwin, Master. Sidney Leonard",male,1.00,5,2,CA 2144,46.9000,NaN,S
172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S

---
# ðŸ§  KÄ°RLENMEK GÃœZELDÄ°R SORULARI :)
---

### Soru 1: En pahalÄ± bileti alan kiÅŸinin yaÅŸÄ±, cinsiyeti ve sÄ±nÄ±fÄ± nedir?

In [ ]:
#df['Fare'].idxmax()=fare sutunundaki en yÃ¼ksek deÄŸerin indexini verir.
#loc etikete gÃ¶re
df.loc[df['Fare'].idxmax(), ['Age', 'Sex', 'Pclass']]

Age         35.0
Sex       female
Pclass         1
Name: 258, dtype: object

### Soru 2: Hayatta kalanlar ile Ã¶lenler arasÄ±nda yaÅŸ ortalamalarÄ± farkÄ± nedir?

In [ ]:
# Kodunuzu buraya yazÄ±n
mean_age=df.groupby("Survived")["Age"].mean()

In [ ]:
diff=mean_age[1]-mean_age[0]
print(diff)

-2.282489590110604

### Soru 3: Hangi `Pclass` grubunda kadÄ±nlarÄ±n hayatta kalma oranÄ± en yÃ¼ksektir?

In [ ]:
# Kodunuzu bur
female=df[df["Sex"]=="female"]
survival_rates = female.groupby('Pclass')['Survived'].mean()
max_rate = survival_rates.max()
max_class = survival_rates.idxmax()
print(max_class)

1

### Soru 4: Ortalama yaÅŸÄ±n altÄ±nda olan ve hayatta kalan erkeklerin sayÄ±sÄ± kaÃ§tÄ±r?

In [ ]:
# Kodunuzu buraya yazÄ±n
avg_age=df["Age"].mean()
survivors=df[
    (df['Sex']=='male') &
    (df['Survived']==1) &
    (df['Age'] < avg_age)
].shape[0]
print(survivors)

51

### Soru 5: `Cabin` deÄŸeri eksik olmayanlarÄ±n yaÅŸ ortalamasÄ± ile eksik olanlarÄ±n yaÅŸ ortalamasÄ± arasÄ±nda fark var mÄ±?

In [ ]:
# Kodunuzu buraya yazÄ±n

cabin_isnull=df[df["Cabin"].isnull()]

In [ ]:
cabin_notnull=df[df["Cabin"].notnull()]

In [ ]:
print("Cabin bilgisi olanlarÄ±n yaÅŸ ortalamasÄ±:", cabin_isnull['Age'].mean())
print("Cabin bilgisi olmayanlarÄ±n yaÅŸ ortalamasÄ±:", cabin_notnull['Age'].mean())

Cabin bilgisi olanlarÄ±n yaÅŸ ortalamasÄ±: 27.55529300567108
Cabin bilgisi olmayanlarÄ±n yaÅŸ ortalamasÄ±: 35.829297297297295

### Soru 6: `.describe()` Ã§Ä±ktÄ±sÄ±na gÃ¶re Ã§arpÄ±klÄ±k var mÄ±? Hangi deÄŸiÅŸkenlerde?

In [ ]:
# Kodunuzu buraya yazÄ±n
df.describe().T
#Fare,SibSp,Parch,Age deÄŸiÅŸkenlerinde Ã§arpÄ±klÄ±k var
#Age deÄŸiÅŸkeni ortalama>medyan
#Fare pozitif Ã§arpÄ±klÄ±k

,count,mean,std,min,25%,50%,75%,max
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292

### Soru 7: Veri setindeki en fazla tekrarlanan yaÅŸ deÄŸeri (mod) nedir?

In [ ]:
# Kodunuzu buraya yazÄ±n
mod_age = df['Age'].mode()

print("YaÅŸ deÄŸiÅŸkeninin modu (en sÄ±k gÃ¶rÃ¼len yaÅŸ):", mod_age.values)

YaÅŸ deÄŸiÅŸkeninin modu (en sÄ±k gÃ¶rÃ¼len yaÅŸ): [24.]

### Soru 8: Ortalama bilet fiyatÄ± kadÄ±nlar mÄ± yoksa erkekler iÃ§in mi daha yÃ¼ksek?

In [ ]:
# Kodunuzu buraya yazÄ±n
df.groupby('Sex')['Fare'].mean()
#KadÄ±nlar erkeklere gÃ¶re daha pahalÄ± biletler satÄ±n almÄ±ÅŸlardÄ±r.

Sex
female    44.479818
male      25.523893
Name: Fare, dtype: float64